.filter {
  padding: 10px 50px 0px 20px;
  background-color: rgb(255, 248, 248);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 3px;
  padding: 0px 10px;
}

.grid-item {
  margin-top: 40px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-to-cart-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 6%;
  left: 85%;
  width: 30px;
  height: 50px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  // border: 1px solid red;
  cursor: pointer;
}

.heart-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 65%;
  left: 85%;
  width: 30px;
  height: 50px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  cursor: pointer;
}

.cartIcon {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.heartIcon {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 65%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border-radius: 5px;
}


.product-card__info {
  flex: 0 0 200px;
  /* Set the desired width */
  height: 100px;
  /* Set the desired height */
}

.product-card__info span {
  white-space: nowrap;
  /* Display the name in one line */
  overflow: hidden;
  /* Hide any overflowing content */
  text-overflow: ellipsis;
  /* Add ellipsis (...) for truncated text */

}