<div style="display:flex;">
  <app-filter class="filter"></app-filter>
  <div class="grid-container" style="width: 100%; ">
    <!-- item 1 -->
    <div class="grid-item">
      <img [src]="image1" alt="Item 1">
      <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
        <img class="icon" src="../../../assets/img/cart.png" alt="">
      </div>
      <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
      <div class="Div-price">
        <h6>300.00</h6>
        <p> &nbsp; EGY</p>
      </div>
      <div class="Div-price">
        <p class="Pitem">33%&nbsp;</p>
        <p class="Pitem">Discount &nbsp;</p>
        <h6>200.00</h6>
        <h6> &nbsp; EGY</h6>
      </div>
    </div>

    <!-- item2 -->
    <div class="grid-item">
      <img [src]="image2" alt="Item 2">
        <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
        <img class="icon" src="../../../assets/img/cart.png" alt="">
      </div>
      <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
      <div class="Div-price">
        <h6>300.00</h6>
        <p> &nbsp; EGY</p>
      </div>
      <div class="Div-price">
        <p class="Pitem">33%&nbsp;</p>
        <p class="Pitem">Discount &nbsp;</p>
        <h6>200.00</h6>
        <h6> &nbsp; EGY</h6>
      </div>
    </div>


    <!-- Add more items here -->
    
     
<!-- item 1 -->
<div class="grid-item">
  <img [src]="image1" alt="Item 1">
    <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
    <img class="icon" src="../../../assets/img/cart.png" alt="">
  </div>
  <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
  <div class="Div-price">
    <h6>300.00</h6>
    <p> &nbsp; EGY</p>
  </div>
  <div class="Div-price">
    <p class="Pitem">33%&nbsp;</p>
    <p class="Pitem">Discount &nbsp;</p>
    <h6>200.00</h6>
    <h6> &nbsp; EGY</h6>
  </div>
</div>

<!-- item2 -->
<div class="grid-item">
  <img [src]="image2" alt="Item 2">
    <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
    <img class="icon" src="../../../assets/img/cart.png" alt="">
  </div>
  <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
  <div class="Div-price">
    <h6>300.00</h6>
    <p> &nbsp; EGY</p>
  </div>
  <div class="Div-price">
    <p class="Pitem">33%&nbsp;</p>
    <p class="Pitem">Discount &nbsp;</p>
    <h6>200.00</h6>
    <h6> &nbsp; EGY</h6>
  </div>
</div>

    


    <!-- Add more items here -->
       <!-- item 1 -->
    <div class="grid-item">
      <img [src]="image1" alt="Item 1">
        <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
        <img class="icon" src="../../../assets/img/cart.png" alt="">
      </div>
      <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
      <div class="Div-price">
        <h6>300.00</h6>
        <p> &nbsp; EGY</p>
      </div>
      <div class="Div-price">
        <p class="Pitem">33%&nbsp;</p>
        <p class="Pitem">Discount &nbsp;</p>
        <h6>200.00</h6>
        <h6> &nbsp; EGY</h6>
      </div>
    </div>

    <!-- item2 -->
    <div class="grid-item">
      <img [src]="image2" alt="Item 2">
        <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
        <img class="icon" src="../../../assets/img/cart.png" alt="">
      </div>
      <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
      <div class="Div-price">
        <h6>300.00</h6>
        <p> &nbsp; EGY</p>
      </div>
      <div class="Div-price">
        <p class="Pitem">33%&nbsp;</p>
        <p class="Pitem">Discount &nbsp;</p>
        <h6>200.00</h6>
        <h6> &nbsp; EGY</h6>
      </div>
    </div>

 
    <!-- Add more items here -->
       <!-- item 1 -->
    <div class="grid-item">
      <img [src]="image1" alt="Item 1">
        <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
        <img class="icon" src="../../../assets/img/cart.png" alt="">
      </div>
      <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
      <div class="Div-price">
        <h6>300.00</h6>
        <p> &nbsp; EGY</p>
      </div>
      <div class="Div-price">
        <p class="Pitem">33%&nbsp;</p>
        <p class="Pitem">Discount &nbsp;</p>
        <h6>200.00</h6>
        <h6> &nbsp; EGY</h6>
      </div>
    </div>

    <!-- item2 -->
    <div class="grid-item">
      <img [src]="image2" alt="Item 2">
        <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
        <img class="icon" src="../../../assets/img/cart.png" alt="">
      </div>
      <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
      <div class="Div-price">
        <h6>300.00</h6>
        <p> &nbsp; EGY</p>
      </div>
      <div class="Div-price">
        <p class="Pitem">33%&nbsp;</p>
        <p class="Pitem">Discount &nbsp;</p>
        <h6>200.00</h6>
        <h6> &nbsp; EGY</h6>
      </div>
    </div>
        <!-- Add more items here -->
<!-- item 1 -->
<div class="grid-item">
  <img [src]="image1" alt="Item 1">
    <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
    <img class="icon" src="../../../assets/img/cart.png" alt="">
  </div>
  <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
  <div class="Div-price">
    <h6>300.00</h6>
    <p> &nbsp; EGY</p>
  </div>
  <div class="Div-price">
    <p class="Pitem">33%&nbsp;</p>
    <p class="Pitem">Discount &nbsp;</p>
    <h6>200.00</h6>
    <h6> &nbsp; EGY</h6>
  </div>
</div>

<!-- item2 -->
<div class="grid-item">
  <img [src]="image2" alt="Item 2">
    <div style="height: 60px; width: 40px;" class="add-to-cart-icon">
    <img class="icon" src="../../../assets/img/cart.png" alt="">
  </div>
  <p class="Div-price">Slim Fit Crew Neck Printed T-Shirt</p>
  <div class="Div-price">
    <h6>300.00</h6>
    <p> &nbsp; EGY</p>
  </div>
  <div class="Div-price">
    <p class="Pitem">33%&nbsp;</p>
    <p class="Pitem">Discount &nbsp;</p>
    <h6>200.00</h6>
    <h6> &nbsp; EGY</h6>
  </div>
</div>

    
    </div>
</div>