<!-- The sidebar -->
<app-header></app-header>
<div class="sidebar">
  <a routerLinkActive="active" routerLink="product"> <i class="fa-brands fa-product-hunt mx-2"></i>Products</a>
  <a routerLinkActive="active" routerLink="category"><i class="fa-solid fa-object-group mx-2"></i> Categories</a>
  <a routerLinkActive="active" routerLink="order"><i class="fa-solid fa-truck mx-2"></i>Orders</a>
  <a routerLinkActive="active" routerLink="users"><i class="fa-solid fa-users mx-2"></i>Users</a>
</div>

<!-- Page content -->
<div class="content">
  <router-outlet></router-outlet>
</div>
