<div class="grid-container"   >
    <div class="grid-item">
      <img [src]="image1"  alt="Item 1">
      
      <h2>Item 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>10.00$</p>
    </div>
    <div class="grid-item">
      <img [src]="image2" alt="Item 2">
      <h2>Item 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>10.00$</p>
    </div>
    <div class="grid-item">
      <img [src]="image1" alt="Item 3">
      <h2>Item 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>10.00$</p>
    </div>
    <!-- Add more items here -->
    <div class="grid-item">
        <img [src]="image1"  alt="Item 1">
        <h2>Item 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image2" alt="Item 2">
        <h2>Item 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image1" alt="Item 3">
        <h2>Item 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
       <!-- Add more items here -->
    <div class="grid-item">
        <img [src]="image1"  alt="Item 1">
        <h2>Item 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image2" alt="Item 2">
        <h2>Item 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image1" alt="Item 3">
        <h2>Item 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
          <!-- Add more items here -->
    <div class="grid-item">
        <img [src]="image1"  alt="Item 1">
        <h2>Item 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image2" alt="Item 2">
        <h2>Item 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image1" alt="Item 3">
        <h2>Item 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
       <!-- Add more items here -->
    <div class="grid-item">
        <img [src]="image1"  alt="Item 1">
        <h2>Item 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image2" alt="Item 2">
        <h2>Item 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
      <div class="grid-item">
        <img [src]="image1" alt="Item 3">
        <h2>Item 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>10.00$</p>
      </div>
  </div>
  
 