<div class="filter">
  <h3> Filters</h3>

<!-- <div class="collapsible">
  <button class="collapsible-button" (click)="togglemodelCollapsed()">Model</button>

  <div class="collapsible-content" [ngClass]="{'collapsed': modelCollapsed}">
    <div class="search-container">
      <form action="#">
        <input type="text" id="search-input" name="search" placeholder="Search In Model ">
      </form>
    </div>
    <div class="form-check" *ngFor="let model of models">
      <input class="form-check-input" type="radio" [(ngModel)]="selectedModel" value="{{model}}" name="model" id="{{model}}" (change)="onRadioModelChange($event)">
      <label class="form-check-label" for="{{model}}">
        {{model}}
      </label>
    </div> -->
    <!-- <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="selectedCategory" value="" name="model" id="T-Shirts">
      <label class="form-check-label" for="T-Shirts">
        T-Shirts
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="selectedCategory" value="" name="model" id="Trousers">
      <label class="form-check-label" for="Trousers">
        Trousers
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" [(ngModel)]="selectedCategory" value="" name="model" id="Knitwear">
      <label class="form-check-label" for="Knitwear">
        Knitwear
      </label>
    </div> -->
  <!-- </div>
</div> -->






<br>
<div class="collapsible">
  <button class="collapsible-button" (click)="togglecolorCollapsed()">Color</button>


  <div class="collapsible-content" [ngClass]="{'collapsed': colorCollapsed}">
    <div class="search-container">
      <form action="#">
        <input type="text" id="search-input" name="search" placeholder="Search In Color">
      </form>
    </div>
    <div class="form-check" *ngFor="let color of colors">
      <input class="form-check-input" type="radio" value="{{color}}" [(ngModel)]="selectedColor" name="color" id="{{color}}" (change)="onRadioModelChange($event)">
      <label class="form-check-label" for="{{color}}">
        {{color}}
      </label>
    </div>

    <!-- <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="White">
      <label class="form-check-label" for="White">
        White
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="Black">
      <label class="form-check-label" for="Black">
        Black
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="Yellow">
      <label class="form-check-label" for="Yellow">
        Yellow
      </label>
    </div> -->
  </div>
</div>







<br>
<div class="collapsible">
  <button class="collapsible-button" (click)="togglesizeCollapsed()">Size</button>


  <div class="collapsible-content" [ngClass]="{'collapsed': sizeCollapsed}">
    <div class="search-container">
      <form action="#">
        <input type="text" id="search-input" name="search" placeholder="Search In Size">
      </form>
    </div>
    <div class="form-check" *ngFor="let item of size">
      <input class="form-check-input" type="radio" name="size" value="{{item}}" [(ngModel)]="selectedSize" id="{{item}}" (change)="onRadioModelChange($event)">
      <label class="form-check-label" for="{{item}}">
        {{item}}
      </label>
    </div>
    <!-- <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="XS">
      <label class="form-check-label" for="XS">
        XS
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="S">
      <label class="form-check-label" for="S">
        S
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="M">
      <label class="form-check-label" for="M">
        M
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="L">
      <label class="form-check-label" for="L">
        L
      </label>
    </div> -->
  </div>
</div>





<br>
<div class="collapsible">
  <button class="collapsible-button" (click)="togglePriceRangeCollapsed()">Price Range</button>
  <div class="collapsible-content" [ngClass]="{'collapsed': PriceRangeCollapsed}">

    <br> <input type="range" min="0" max="1000" id="customRange2" width="100%" [(ngModel)]="selectedPrice" (change)="onRadioModelChange($event)">
    <br>
    <label style="opacity: .2;" for="customRange2" class="form-label">min&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; mix</label>
    <div class="row">
      <div class="col" style="width: 10px;">
        <input type="number" class="form-control" id="min" name="min" placeholder="0" (change)="onMinInputChange($event)">
      </div>
      <div class="col">
        <input type="number" class="form-control" id="max" name="max" placeholder="1000" (change)="onMaxInputChange($event)">
      </div>
    </div>
  </div>
</div>

  <br><br><br>
  <div class="container">
    <button type="button" class="btn btn-outline-success" (click)="getProductsByFilter()"> &nbsp;Filter &nbsp; </button>
  </div>

</div>