<footer class=" text-center text-lg-start mt-5 border " >
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase" >Mission</h5>

                <p>
                    We are dedicated to sharing the beauty and diversity of African fashion with the world. We strive to
                    empower African designers and artisans while offering our customers authentic, high-quality clothing
                    and accessories that celebrate the rich cultural heritage of Africa. Our mission is to create a
                    platform that connects people from around the globe with unique and stylish African fashion, while
                    promoting sustainability and ethical business practices.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Vision</h5>
                <p>
                    Our vision at African for Clothes is to become the premier ecommerce destination for African fashion
                    worldwide. We envision a world where African fashion is celebrated and embraced for its unique
                    beauty and cultural significance. Through our platform, we aim to support and elevate African
                    designers and artisans, while connecting them with a global audience. Our goal is to inspire and
                    delight our customers with the finest selection of African clothing and accessories, while promoting
                    sustainable and ethical fashion practices.
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(211, 211, 211, 0.5);">
        © 2023 Copyright:
        <a class="text-dark" routerLink="/">African.com</a>
    </div>
    <!-- Copyright -->
</footer>