<div class="container">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">T-shirts</li>
                <li class="breadcrumb-item active" aria-current="page">Product Name</li>
            </ol>
        </nav>
    </div>

    <div class="product-card">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9 ">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6">
                            <img src="./../../../assets/img/front.webp" style="max-width: 800px;max-height: 700px;">
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <img src="./../../../assets/img/back.jpg" style="max-width: 800px;max-height: 700px;">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-12 col-md-10 col-lg-10 ">
                            <h6>Comfort Fit Jean-Michel Basquiat Lisansl Crew Neck T-Shirt</h6>
                            <h6>599 EGP</h6>
                            <div class="product-card__discount">
                                <span>40% Discount</span><span class="product-card__price">359 EGP</span>
                            </div>
                            <div class="product-card__code">Product Code: Z7217AZBG732</div>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2 ">
                            <h6>like</h6><br>
                            <h6>share</h6>
                        </div>
                    </div>
                    <div class="row product-card__size">
                        <div class="product-card__size__title">Size Options</div>

                        <div class="d-flex flex-wrap product-card__size__buttons" title="Please select size">

                            <button type="button" title="Please choose size" value="XS"> XS</button>

                            <button type="button" title="Please choose size" value="S">S</button>

                            <button type="button" title="Please choose size" value="M">M</button>

                            <button type="button" title="Please choose size" value="L">L</button>

                            <button type="button" title="Please choose size" value="XL">XL</button>

                            <button type="button" title="Please choose size" value="XXL"> XXL</button>

                        </div>

                    </div>
                    <div class="row">
                        <div class="product-card__button"><button class="addToCart">ADD TO CART</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>