<div id="mySlider" class="carousel slide " data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slide-content">
        <h6><i class="fa-solid fa-gift"></i> FREE SHIPPING ON ORDERS OVER 600 EGP</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slide-content">
        <h6><i class="fa-solid fa-gift"></i> FREE SHIPPING ON ORDERS OVER 600 EGP</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slide-content">
        <h6><i class="fa-solid fa-gift"></i> FREE SHIPPING ON ORDERS OVER 600 EGP</h6>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg sticky-top "
  style="background-color: rgba(255, 255, 255, 0.9); box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);">

  <div class=" container-fluid">
    <!-- store name -->
    <a class="navbar-brand  fw-bold me-5" style="font-size: 30px;" routerLink="/home">African</a>
    <!-- button when minimize screen -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item me-1">
          <a class="nav-link " routerLink="/Products" routerLinkActive="active">MEN</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" routerLink="/Products">WOMEN</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" routerLink="/Products">KIDS</a>
        </li>
      </ul>

      <form class="d-flex me-5" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2">
        <li class="nav-item me-2">
          <a class="nav-link " routerLink="/login"><i class="fa-sharp fa-regular fa-user me-1"></i> Login</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" routerLink="/shoppingCart"><i class="fa-regular fa-heart me-1"></i> Favorites</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link " routerLink="/shoppingCart"><i class="fa-solid fa-cart-plus me-1"></i> Shopping Cart</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
