<app-header></app-header>
<header id="header" class="vh-100 carousel slide" data-bs-ride="carousel" style="padding-top: 104px
;">
    <div class="container h-100 d-flex align-items-center carousel-inner">
        <div class=" text-center carousel-item active">
            <h2 class="test-capitalize test-white"> Best Collection</h2>
            <h1 class="text-uppercase py-2 fw-bold text-orange">New Arrivals</h1>
            <a href="#" id="button" class="btn mt-3 text-uppercase"> Shop Now</a>


        </div>
        <div class=" text-center carousel-item">
            <h2 class="test-capitalize test-orange"> Best price</h2>
            <h1 class="text-uppercase py-2 fw-bold text-white">New Season</h1>
            <a href="#" id="button" class="btn mt-3 text-uppercase"> Buy Now</a>


        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>


        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>


        </button>


    </div>



</header>


<hr claas="mb-4">
<div class="container-fluid p-0">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-4 p-0">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/man.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">New Arrivals</h5>
                    <p class="card-text">Men's Clothes</p>
                    <button class="Cheak">Cheak Now</button>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-4 p-0">
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/children.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">New Arrivals</h5>
                    <p class="card-text">children</p>
                    <button class="Cheak">Cheak Now</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 p-0">
            <div class="card">
                <img class="card img" src="../../../assets/img/women (2).jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title">New Arrivals</h5>
                    <p class="card-text">Women's Clothes</p>
                    <button class="Cheak">Cheak Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>