<app-header></app-header>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/banner1.webp" style="object-fit: fill;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/banner2.webp" class="d-block w-100" style="object-fit: fill;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/banner3.webp" class="d-block w-100" style="object-fit: fill;" alt="...">
            </div>
        </div>


    </div>

</div>
<!-- <hr claas="mb-4"> -->

<div class="filler-fluid mt-3 p-0">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-4 p-0 " (click)="getProductsByCategory('64a027cd458a421274b33e65')">
            <a>
                <div class="card" style="border: none;">
                    <img class="zoomIn" src="../../../assets/img/woman_cat.webp">
                    <div class="centered-button">
                        <button class="Cheak">WOMEN</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0" (click)="getProductsByCategory('64a027b5458a421274b33e5f')">
            <a>
                <div class="card" style="border: none;">
                    <img class="zoomIn" src="../../../assets/img/man_cat.webp">
                    <div class="centered-button">
                        <button class="Cheak">MEN</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 p-0" (click)="getProductsByCategory('64a2bbb2714fc8774a5fcfd1')">
            <a>
                <div class="card" style="border: none;">
                    <img class="zoomIn" src="../../../assets/img/kids_cat.webp">
                    <div class="centered-button">
                        <button class="Cheak">KIDS</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>