.grid-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 100%;
}

.grid-item img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    cursor: pointer;
    // border-radius: 5px;
}

.product-card__info {
    flex: 0 0 200px;
    /* Set the desired width */
    /* Set the desired height */
    margin-top: 0;
}

// .add-to-cart-icon {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: 6%;
//     left: 85%;
//     width: 30px;
//     height: 50px;
//     background-color: white;
//     background-repeat: no-repeat;
//     background-size: contain;
//     border-radius: 100%;
//     // border: 1px solid red;
//     cursor: pointer;
// }

// .heart-icon {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: 65%;
//     left: 85%;
//     width: 30px;
//     height: 50px;
//     background-color: white;
//     background-repeat: no-repeat;
//     background-size: contain;
//     border-radius: 100%;
//     cursor: pointer;
// }

// .cartIcon {
//     height: 25px;
//     width: 25px;
//     position: absolute;
//     top: 65%;
//     left: 60%;
//     transform: translate(-50%, -50%);
// }

// .heartIcon {
//     height: 25px;
//     width: 25px;
//     position: absolute;
//     top: 65%;
//     left: 63%;
//     transform: translate(-50%, -50%);
// }




