<section class="table_section container">
  <h2 class="mt-3">Products</h2>
  <table class="table border-top mt-3">
    <tbody>
      <tr *ngFor="let product of products">
        <td><img width="50" src='http://localhost:3000/{{product.image[0].filename}}' alt="img"></td>
        <td class="detailscol align-middle">
          <h5 class="fs-5">{{product.name}}</h5>
        </td>
        <td class="detailscol align-middle">
          <h5 class="fs-5">{{product.category.name}}</h5>
        </td>
        <td class="align-middle">
          <h6 class="fs-5 table_students">{{product.quantity}}</h6>
        </td>
        <td class="align-middle">
          <h6 class="fs-5 table_price" style="color: #c41f28;">{{product.price}} EGP</h6>
        </td>
        <td class="align-middle"><i class="fas fa-edit edit_btn text-primary" (click)="updateProduct(product)"
            data-bs-toggle="modal" data-bs-target="#editcourse1"></i></td>
        <td class="align-middle"><i (click)="deleteProduct(product._id)" class="fa fa-trash remove_btn text-danger"></i>
        </td>
      </tr>
    </tbody>
  </table>




  <!-- not fount product -->
  <div class="d-flex align-items-center justify-content-center" *ngIf="!products.length">
    <div class="text-center">
      <h1 class="display-1 fw-bold">404</h1>
      <p class="fs-3"> <span class="text-danger">Opps!</span> Products not found.</p>
      <p class="lead">
        The products you’re looking for doesn’t exist.
      </p>
      <a [routerLink]="['/Products']" class="btn btn-primary">Go Home</a>
    </div>
  </div>
  <button (click)="addNewProduct()" class="btn btn-success mt-4">Add New Product</button>
</section>
