<section class="table_section container">
  <div class="row">
    <div class="col-md-6">
      <label for="prodCat" class="form-label">Category</label>
      <select (change)="getProductsByCayegory($event)" class="form-select" id="prodCat" aria-label="Default select example">
        <option  value="All" selected>All</option>
        <option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.name}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="productSearch" class="form-label">Search</label>
      <form class="d-flex" role="search">

        <input #search type="search" class="form-control" id="productSearch" aria-label="Search" (change)="searchProducts($event)">
        <!-- <input #search class=" me-2 no-outline" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn" type="submit" (click)="searchProducts(search.value)"><i
            class="fa-solid fa-magnifying-glass fa-lg"></i></button>
      </form>
    </div>
  </div>
  <h2 class="mt-3">Products</h2>
  <table class="table border-top mt-3">
    <tbody>
      <tr *ngFor="let product of products">
        <td><img width="50" src='http://localhost:3000/{{product.image[0].filename}}' alt="img"></td>
        <td class="detailscol align-middle">
          <h5 class="fs-5">{{product.name}}</h5>
        </td>
        <td class="detailscol align-middle">
          <h5 class="fs-5">{{product.category.name}}</h5>
        </td>
        <td class="align-middle">
          <h6 class="fs-5 table_students">{{product.quantity}}</h6>
        </td>
        <td class="align-middle">
          <h6 class="fs-5 table_price">{{product.price}}$</h6>
        </td>
        <td class="align-middle"><i class="fas fa-edit edit_btn text-primary" (click)="updateProduct(product)"
            data-bs-toggle="modal" data-bs-target="#editcourse1"></i></td>
        <!-- <td class="align-middle"><i (click)="deleteProduct(product._id)" class="fa fa-trash remove_btn text-danger"></i>
        </td> -->
      </tr>
    </tbody>
  </table>

  <button (click)="addNewProduct()" class="btn btn-success mt-4">Add New Product</button>
</section>
