/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
// @import "mdb-angular-ui-kit/assets/scss/mdb.scss";

.africanButton {
    width: 80%;
    background-color: #23252a;
    color: #ffffff;
    padding: 5px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.africanButton:hover {
    background-color: #ffffff;
    color: #23252a;
}

* {
    box-sizing: border-box;
}

.no-outline {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px #23252a solid;
    // font-weight: bold;
    font-size: large;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}